@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main-container">
        <main>
            <div class="top-row px-4">
                <AuthComponent />
            </div>

            <article class="content px-4">
                @Body
            </article>
            <footer class="footer">
                <div class="footer-bottom">
                    <p>&copy; @DateTime.Now.Year RusEmpire. Все права защищены.</p>
                </div>
            </footer>
        </main>
    </div>
</div>