@using Core.Models.Users
@if (User != null)
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="img/guess-who-logo.png" style="height: 29px;" alt=""/> Веб игра
            </a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="nav flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="lobbies">
                    <i class="fa-solid fa-dice fa-lg"></i> Лобби
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="rating">
                    <i class="fa-solid fa-trophy fa-lg"></i> Рейтинг
                </NavLink>
            </div>
            @if (User.Role is UserRole.Admin or UserRole.Moderator)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="moderate">
                        <i class="fa-solid fa-screwdriver-wrench fa-lg"></i> Модерирование
                    </NavLink>
                </div>
            }
        </nav>
    </div>
}

@code {
    [Parameter] public UserModel? User { get; set; }
    
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}