@page "/404"
@layout MainLayout

<div class="row align-content-center not-found">
    <img src="/img/travolta.png" alt=""/>
    <h1>404 - Страница не найдена</h1>
    <a href="/">Вернуться на главную</a>
</div>