@page "/error/401"
@layout MainLayout

<div class="row align-content-center" style="text-align: center;">
    <img src="/img/vi_kto_takie.png" alt="" style="margin-left: auto;margin-right: auto;width: 500px;"/>
    <h1>401 - Вы кто такие? Я вас не звал...</h1>
    <a href="/" style="color: #EF0027;">Авторизация</a>
</div>