@page "/error/403"
@layout MainLayout

<PageTitle>403</PageTitle>

<div class="row align-content-center" style="text-align: center;">
    <img src="/img/gendalf.png" alt="" style="margin-left: auto;margin-right: auto;width: 500px;"/>
    <h1>403 - Доступ запрещён</h1>
</div>