@page "/"

<PageTitle>Guess Who</PageTitle>

<div class="container home-page">
    <div class="row justify-content-center">
        <h1 style="text-align: center;">Добро пожаловать!</h1>
        <p style="padding-top: 20px;">Мы рады приветствовать вас на странице веб-игры <strong>Guess Who</strong>. Это
            увлекательная онлайн-версия классической игры, где вам предстоит отгадывать персонажей, задавая вопросы и
            используя логику.</p>

        <p>В настоящее время проект находится в режиме закрытого бета-тестирования. Для получения доступа к игре
            необходимо получить подтверждение от модератора или администратора.</p>

        <p>Мы уделяем особое внимание соблюдению авторских прав и гарантируем, что все элементы игры используются в
            соответствии с законодательством.</p>

        <p>Следите за новостями проекта на этой странице – здесь мы будем публиковать обновления, анонсы новых функций и
            другую важную информацию.</p>
    </div>
</div>