button {
    color: #ffffff;
    background: #EF0027;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
}

button:hover {
    background-color: #bd001f; /* Темнее при наведении */
}

button:active {
    background-color: #000; /* Черный фон при нажатии */
    color: #ffffff; /* Красный текст */
    box-shadow: none; /* Убираем тень */
}

button:focus {
    box-shadow: none; /* Убираем синюю рамку при фокусе */
}

button.btn-warning {
    color: #ffffff;
    background: #8b8b8b;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
}

button.btn-warning:hover {
    background-color: #696666; /* Темнее при наведении */
}

button.btn-warning:active {
    background-color: #313030; /* Черный фон при нажатии */
    color: #ffffff; /* Красный текст */
    box-shadow: none; /* Убираем тень */
}

.loading-spinner {
    width: 40px;
    height: 40px;
    border: 3px solid #ccc; /* Серый цвет границы */
    border-top: 3px solid #EF0027; /* Красный цвет для верхней части */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Центрирование по горизонтали */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}